.company-wrapper {
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 25px;
}

.company-wrapper h3 {
    text-transform: uppercase;
    border-bottom: 2px solid white;
    width: 100%;
    margin: 15px 0;
}

.company-wrapper p, .company-wrapper a, .summary {
    color: rgb(206, 201, 201);
}

.company-wrapper a {
    display: block;
    width: fit-content;
    text-decoration: none;
}

.company-wrapper a:hover {
    color: white;
}

.summary {
    width: 60%;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

@media only screen and (max-width: 900px) {
    .company-wrapper {
        flex-direction: column;
        margin-left: 30px;
        gap: 30px;
    }

    .company-wrapper h3 {
        width: fit-content;
    }

    .summary {
        width: 100%;
        padding: 30px;
        text-align: left;
    }
}