.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.navtabs-wrapper {
    display: flex;
    gap: 20px;
    margin: 10px;
    font-size: 32px;
    font-weight: 600;
  }
  
.navtabs-wrapper a {
  color: white;
  text-decoration: none;
}