.App {
  text-align: center;
}

h1 {
  padding-top: 20px;
  font-size: 50px;
}

.home {
    background: url('https://www.travelandleisure.com/thmb/2RARACU9HQ3ieLg_CCJhxDnh9Q8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/TAL-spacex-space-station-SPACEX0523-48e8ab4f27fd403ebd0ea15d0375f827.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 50px);
}

@media only screen and (max-width: 1140px) {
  .home {
      min-height: 110vh;
      background-position: center;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
}