.launches-wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.launches-item {
    padding: 20px;
    background-color: rgb(24, 23, 23);
    overflow: hidden;
}

.launches-wrapper img {
    max-width: 100%;
    padding: 10px 0;
}

.launches-wrapper a {
    text-decoration: none;
    color: white;
    transition: ease-in-out .3s;
}

.launches-wrapper a:hover {
    transform: scale(1.03);
}

.launches-item p {
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.single-launch-wrapper {
    margin: 50px auto;
    width: 70%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.single-launch-wrapper a {
    width: fit-content;
    padding: 10px 20px;
    margin: 20px 0;
    display: block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    opacity: 0.8;
}

.single-launch {
    width: 60%;
}

.single-launch h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.single-launch p {
    margin-bottom: 10px;
    opacity: 0.8;
    font-size: 20px;
}

.single-launch button {
    border: none;
    font-size: 20px;
    color: white;
    background-color: black;
    opacity: 0.8;
    cursor: pointer;
    margin-top: 30px;
}

.single-launch-wrapper img {
    max-width: 100%;
    margin-left: 10px;
}

@media only screen and (max-width: 1120px) {
    .launches-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .single-launch-wrapper {
        width: 100%;
        flex-direction: column;
        padding: 0 20px;
    }

    .single-launch {
        width: 100%;
    }

    .single-launch-wrapper img {
        margin-top: 30px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .launches-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .launches-wrapper {
        grid-template-columns: 1fr;
    }
}